

.box-slider{
    width: 850px;
    height: 400px;
    margin: auto;
    overflow: hidden;
}

.section-left{
    height: 100%;
    position: relative;
}

.section-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}

.section-right{
    position: relative;
    background-color: black;
}

.section-right img{
    height: calc( 400px / 5 );
    opacity: 0.7;
    width: 100%;
}


.img-section-left-container{
    width: 100%;
    height: 100%;
    position: absolute;
}

.text-section-left{
    position: absolute;
    bottom: 25px;
    right: 30px;
    color: white;
    text-shadow: 1px 2px black;
}

.arrow-ico{
    color:white;
    font-size: 22px;
}

.arrow-top{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.arrow-bottom{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}
.img-section-right-contaier img.active, 
.section-left .img-section-left-container .active{
    opacity: 1;
}

.img-section-right-contaier img.active{
    border: 3px solid white;
}