.slider-conatiner{
    height: 375px;
    width: 800px;
    margin: auto;
    overflow: hidden;
}

.img-slide{
    object-fit: cover;
    position: absolute;
    opacity: 0;
    height: 100%;
    width: 100%;
}

.slider-conatiner > div{
    height: 100%;
}

.slide-preview{
    height: calc(375px / 5);
    object-fit: contain;
}

.preview-container{
    position: relative;
    border: 1px solid red;
    padding: 5px;
}

.arrow-ico{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-size: 22px;
}

.arrow-top{
    top: 2px;
}

.arrow-bottom{
    bottom: 2px;
}
.img-slide-big{
    position: relative;
    border: 1px solid red;
    padding: 5px;
}

.img-slide-big > img{
    
}
.testi-slide{
    z-index: 1;
    position: absolute;
    bottom: 50px;
    right: 50px;
    color: white;
}

.active{
    opacity: 1;
}